{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Waiting List{% endblock %}

{% block body_class %}home{% endblock %}

{% block wrapper_class %}site-wrapper{% endblock %}

{% block body_base %}
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading">Kel<sup>&#8482;</sup>, an open source PaaS built on&nbsp;Kubernetes</h1>
                <p class="lead">
                    Since 2011, Eldarion<sup>&reg;</sup> has run Gondor, one of the leading platforms as a service for Django and Python applications.
                    Recently, we rebuilt it on <a href="http://kubernetes.io">Kubernetes</a> to greatly expand its scalability, the list of technologies
                    it supports, and to add support for private cloud and on-premise versions (in addition to public&nbsp;cloud).
                </p>
                <p class="lead standout">
                    Now, we&rsquo;re open sourcing it.
                </p>
                <p class="lead">
                    If you&rsquo;d like to find out when we launch the open source project, enter your email address below. We won't use it for any other&nbsp;purpose.
                </p>
                {% url "waitinglist_list_signup" as url %}
                <form method="POST" action="{{ url }}" class="form-inline" style="margin-bottom: 20px;">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="id_email">Email address</label>
                        <input type="email" name="email" class="form-control input-lg" id="id_email" placeholder="your@email.com">
                    </div>
                    <button class="btn btn-default btn-lg">Submit</button>
                </form>
                <p class="lead">
                    Eldarion will also offer commercial solutions built with Kel. To learn more visit&nbsp;<a href="http://eldarion.cloud">eldarion.cloud</a>.
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>{% include "_footer.html" %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_base %}{% endblock %}
