{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load pinax_webanalytics_tags %}


{# remove to bring back topbar #}
{% block topbar_base %}{% endblock %}


{% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    {% include "_styles.html" %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% analytics %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
